<nav class="nav">
  <ul class="o-l o-l--h">
    <li class="o-l__item nav__item" *ngIf="!isLoggedInUser" >
      <a [routerLink]="['/login']" class="nav__link">Login</a>
    </li>
    <li class="o-l__item nav__item" *ngIf="!isLoggedInUser">
      <a [routerLink]="['/register']" class="nav__link">Register</a>
    </li>
    <li class="o-l__item nav__item" *ngIf="isLoggedInUser && loggedInUser" >
      <a [routerLink]="['/profile', loggedInUser.id]" class="nav__link">Profile</a>
    </li>
    <li class="o-l__item nav__item">
      <a [routerLink]="['/photos']" class="nav__link">Photos</a>
    </li>
    <li class="o-l__item nav__item">
      <a [routerLink]="['/upload']" class="nav__link">Upload</a>
    </li>
    <li class="o-l__item nav__item">
      <button 
        (click)="logout()"
        class="nav__link button button--text"
        *ngIf="isLoggedInUser"
      >
        <span>Log out</span>
      </button>
    </li>
  </ul>
</nav>
