@import '../../../scss/1-abstracts/_index';

// .nav {
//   // @include padding($base-line-height);
// }

.nav__item {

  & + & {
    @include margin-top($base-line-height);
  }

  @include media($bp-med) {
    & + & {
      @include margin-left($base-line-height);
      @include margin-top(0);
    }
  }
}

.nav__link {
  color: inherit;
  text-decoration: none;
  @include font-size($font-size-x-large);
  font-weight: 700;

  &:hover,
  &:focus {
    color: $color-contrast;
  }
}
