.button {
  display: inline-block;
	appearance: none;
	border: 3px solid $color-secondary;
	background-color: $color-secondary;
	color: $COLOR-White;
	@include padding($base-line-height / 2, $base-line-height);
  text-decoration: none;
  transition: all .2s ease-in-out;

  &:hover,
  &:focus {
    background-color: $COLOR-White;
    color: $color-secondary;
  }
}

.button--text {
  @include padding(0);
  background-color: inherit;
  border: none;
}
